#controls {
    width: 320px;
}

#result {
    flex: 1;
    padding: 0;
    gap: 0;
}

#result .no-image {
    display: none;
}

#result .error-container {
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-text {
    color: #ff2424;
    font-size: 150%;
}

/**
    Main container has 4 states:

    - empty (initial): no image, progressbar hidden, action area hidden
    - rendering: no image, progressbar shown, action area hidden,
    - finished rendering: image shown, progressbar hidden, action area shown
    - error: image hidden, progressbar hidden, action area hidden, error shown
*/
#main-container:not([data-state="rendering"]) .progress {
    display: none;
}
#main-container:not([data-state="has-image"]) .action-area {
    display: none;
}
#main-container:not([data-state="has-image"], [data-state="rendering"])
    #canvas-container {
    display: none;
}
#main-container:not([data-state="error"]) .error-container {
    display: none;
}
#main-container[data-state="empty"] .no-image {
    display: block;
    text-align: center;
}
#main-container[data-state="empty"] #result {
    justify-content: center;
    align-items: center;
}

#result > .action-area {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#result .info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

#result .actions {
    display: flex;
    gap: 0.25rem;
    align-items: stretch;
}

#canvas-container {
    width: 100%;
    height: 100%;
    border-radius: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;

    contain: strict;
    overflow: clip;
}

/** Mobile layout */
@media (max-width: 1024px) {
    #controls {
        width: 100%;
    }

    #result > .action-area {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }

    #canvas-container {
        height: 50lvh;
    }
}

#object-list {
    list-style: none;
    padding: 0;
}
#object-list > .object {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
