html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 1rem;
    display: flex;
    gap: 12px;
}

/** Mobile layout */
@media (max-width: 1024px) {
    body {
        flex-direction: column;
        align-items: stretch;
    }
}

.surface {
    padding: 1rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    background: var(--c-surface);
}

.vstack {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
