:root {
    color-scheme: light;

    --c-container: #eeded2;
    --c-surface: #feeee2;
    --c-primary: #ff8a33;
    --c-secondary: #5e4dff;
    --c-text-dim: #6b5747;

    --c-container-active: hsl(26, 35%, 78%);
    --c-primary-active: hsl(26, 80%, 50%);
    --c-secondary-active: hsl(246, 80%, 55%);

    --c-primary-disabled: hsl(26, 60%, 80%);
    --c-secondary-disabled: hsl(244, 15%, 47%);

    --c-text-regular: black;
    --c-text-inverted: white;
    --c-text-regular-disabled: rgb(64, 64, 64);
    --c-text-inverted-disabled: rgb(200, 200, 200);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    background: var(--c-container);
    color: var(--c-text-regular);
}

.c-container {
    background: var(--c-container);
    color: var(--c-text-regular);
    fill: var(--c-text-regular);
}
button.c-container:active {
    background: var(--c-container-active);
}

.c-primary {
    background: var(--c-primary);
    color: var(--c-text-regular);
    fill: var(--c-text-regular);
}
button.c-primary:active {
    background: var(--c-primary-active);
}
button.c-primary:disabled {
    background: var(--c-primary-disabled);
    color: var(--c-text-regular-disabled);
    fill: var(--c-text-regular-disabled);
}

.c-secondary {
    background: var(--c-secondary);
    color: var(--c-text-inverted);
    fill: var(--c-text-inverted);
}
button.c-secondary:active {
    background: var(--c-secondary-active);
}
button.c-secondary:disabled {
    background: var(--c-secondary-disabled);
    color: var(--c-text-inverted-disabled);
    fill: var(--c-text-inverted-disabled);
}

.text-small {
    font-size: 85%;
}
.text-large {
    font-size: 200%;
}

:focus-visible {
    outline: 2px solid accentColor;
    outline-offset: 0;
}
